#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: linear-gradient(to right, violet, blue);
  color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

input {
  margin: 8px;
}

.merah {
  color: red;
  margin: 5px;
  background-color: aqua;
}
